:root {
    --text-color: #425966;
    --title-color: #D84A4A;
}

@font-face {
    font-family: Monster_ClubHouse;
    src: url(../assets/fonts/Monster\ Clubhouse.ttf);
}

@font-face {
    font-family: Poppins_Regular;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins_Medium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

body{
    position: relative;
    width: 1280px;
    height: 1280px;
    margin: auto;
}

header{
    position: relative;
    height: 70px;
    display: flex;
}
/* General */
.italic {
    text-align: left;font-family: Monster_ClubHouse;
    letter-spacing: 1.15px;
    opacity: 1;
}

.banner__text_upper {
    position: absolute;
    top: 145px;
    left: 254px;
    width: 249px;
    height: 83px;
    text-align: left;
    font: normal normal normal 67px/91px Poppins_Regular;
    letter-spacing: 0px;
    color: #FFF;
    font-size: 74px;
}

.banner__text_down {
    position: absolute;
    top: 215px;
    left: 250px;
    width: 249px;
    height: 83px;
    text-align: left;
    font: normal normal normal 67px/91px Monster_Clubhouse;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 67px;
    opacity: 1;
}

.menu__active{
    color: var(--title-color) !important; 
}

.hidden {
    display: none;
}
.resposive__menu{
    display: none;
}
.break__line {
    height: 0px;
}
.right {
    width: 50%;
    right: 0px;
    text-align: right;
}

.left {
    width: 50%;
    left: 0px;
    text-align: left;
}
.rating {
    position: relative;
    top: -5px;
    text-align: left;
    font: normal normal normal 26px/39px Poppins_Regular;
    letter-spacing: -0.52px;
    color:var(--text-color);
    margin-left: 5px;
}

.card__backview {
    position: relative;
    width: 270px;
    top: -83px;
    opacity: 0;
}

.show {
    opacity: 1;
    transition: all 0.2s ease-out;
}

.card__backview:hover {
    opacity: 1;
    transition: all 0.2s ease-out;
}

.card__backview > section {
    margin: 5px;
}

.card__backview > section > p {
    margin: 0px;
    text-align: center;
}

.recipe__title {
    font: normal normal normal 17px/20px Monster_Clubhouse;
    color: var(--title-color);
}

.recipe__desc {
    font: normal normal normal 15px/20px Poppins_Regular;
    color: var(--text-color);
}

/* NAV - MENU */
.app__logo{
    position: relative;
    width: 15%;
    height: 54px;
    top: 14px;
    left: 70px;
    text-align: left;
    font: normal normal normal 30px/46px Poppins_Regular;
    letter-spacing: 0.86px;
    color:var(--title-color);
    opacity: 1;
}

.logo {
    color: var(--text-color);
    font-size: 40px;
    text-transform: capitalize;
}

.navbar {
    position: relative;
    width: 70%;
}

.navbar > ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 129px;
    list-style-type: none;
}

.navbar > ul > li {
    position: relative;
    width: auto;
    height: 19px;
    top: 14px;
    margin-left: 45px;
    text-align: left;
    font: normal normal 250 13px/20px Poppins_Medium;
    color: var(--text-color);
    letter-spacing: 0px;
}

.navbar > ul > li:hover{
    color: var(--title-color);
    cursor: pointer;
}

.header__home {
    display: none;
}
/* BODY */
.section__divider{    
    left: 70px;
    width: 364px;
    height: 83px;
    margin-top: 28px;
    margin-left: 70px;
    text-align: left;
    font: normal normal normal 67px/91px Monster_ClubHouse;
    letter-spacing: 0px;
    color: var(--title-color);
}

.Recipes__slideshow {
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
}

.card__container {
    position: relative;
    width: 300px;
    height: 270px;
    margin: 10px;
    margin-bottom: 160px;
    background: rgb(233,241,250);
    background: linear-gradient(180deg, rgba(233,241,250,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 16px;
    box-shadow: 4px 6px 10px #BFC4CAD1;
}

.card__container:hover {
    cursor: pointer;
    height: 310px;
    width: 300px;
    transition: all 0.2s ease-out;
}

.card__header__img {
    position: relative;
    top: -64px;
    text-align: center;
}

.card__body{
    position: relative;
    width: 270px;
    text-align: center;
    font: normal normal normal 30px/40px Poppins_Regular;
    letter-spacing: -0.6px;   
    color: var(--title-color);
    margin-bottom: 50px;
}

.card__frontview {
    position: relative;
    top: -65px;
}

.card__footer {
    position: relative;
    width: 250px;
    margin: auto;
    display: flex;
    bottom: 0;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0px;
    width: 1280px;
    height: 167px;
    background: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 4px 6px 23px #A9A9A911;
    display: flex;
}

.footer__sponsor__title {
    position: relative;
    left: 13%;
    width: 377px;
    top: 0px;
    text-align: left;
    font-size: 26px;
    letter-spacing: 0px;
    color: var(--text-color);
}

.footer__sponsor__title > p {
    font-size: 56px;
    letter-spacing: 0px;
}

.footer__sponsor {
    position: relative;
    left: 20%;
    width: 44%;
    height: 248px;
    top: -72px;
}

.footer__sponsor > img {
    position: relative;
    width: 100%;
}

/* SMALL SCREENS */
 @media  only screen  and (max-width: 1280px) {
    .navbar > ul  {
        position: relative;
        width: 80%;
    }

    .navbar > ul > li {
        margin-left: 2%;
    }
}

@media  only screen  and (max-width: 1100px) {
    footer {
        position: relative;
        bottom: 0px;
        width: 100%;
        height: 10%;
        background: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
        box-shadow: 4px 6px 23px #A9A9A911;
        display: flex;
    }

    .footer__sponsor__title {
        left: 5%;
        top: -30px;
    }

    .banner__text_upper{
        top: 10%;
    }

    .banner__text_down {
        top: 30%;
    }

    .footer__sponsor {
        position: relative;
        left: 15%;
        width: 44%;
        height: 248px;
        top: -35px;
    }

    .footer__sponsor > img {
        position: relative;
        width: 100%;
    }

    /* HEADER */
    body{
        position: relative;
        width: 100vw;
        height: 1024px;
        margin: 0px;
    }
    header {
        width: 100vw;
    }
    .navbar {
        display: none;
    }
    .resposive__menu {
        position: relative;
        top: -40px;
        width: 90%;
        height: 85px;
        margin: auto;
        margin-bottom: 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .menu__container {
        position: relative;
        width: 106px;
        height: 85px;
        border-radius: 10px;
        background: transparent linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 9px #8395A766;
        text-align: center;
    }
    .main__container {
        position: relative;
        top: -70px;
    }
    .menu__icon {
        position: relative;
        height: 30px;
        top: 10px;
    }
    .menu__desc {
        position: relative;
        top: 20px;
        font-family: Poppins_Medium;
        font-size: 13px;
    }
    .header__home{
        position: relative;
        text-align: right;
        display: block;
        left: 73%;
        top: 24px;
    }
    .banner__container {
        position: relative;
        width: 100%;
    }   
    .banner__container > img {
        width: 100% !important;
    }
    
    /* SLIDESHOW */
    .Recipes__slideshow{ 
        padding-top: 64px;       
        overflow-x: auto;
        overflow-y: hidden;
        width: 80%;
        height: 300px;
        z-index: 1;    
        text-align: center;    
        margin: 0px;
        display: flex;
        padding-left: 55px;
        padding-right: 55px;
        text-align: center;
    }
}

@media  only screen  and (max-width: 880px) {
    footer {
        position: relative;
        width: 100%;
        height: 116px;
        bottom: 5px;
        background: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
        box-shadow: 4px 6px 23px #A9A9A911;
        display: flex;        
    }
    .footer__sponsor__title {
        position: relative;
        left: 40px;
        width: 34%;
        top: 0px;
        text-align: left;        
        color: var(--text-color);
    }

    .footer__sponsor__title > p {
        font-size: 39px;
        letter-spacing: 0px;
    }
    
    .footer__sponsor {
        position: relative;
        left: 110px;
        width: 50%;
        top: -44px;  
    }

    .footer__sponsor > img {
        position: relative;
        width: 100%;
    }

    .banner__text_upper{
        top: -15%;
    }

    .banner__text_down {
        top: 10%;
    }
}

@media  only screen  and (max-width: 780px) {
    .footer__sponsor__title > p {
        font-size: 38px;
        letter-spacing: 0px;
    }
    .footer__sponsor {
        position: relative;
        left: 100px;;
        width: 50%;
        top: -40%;    
    }    
    .menu__container {
        margin-bottom: 5%;
    }

    .section__divider{
        height: 20px;
    }

    .resposive__menu{
        margin-bottom: 10%;
    }

    .banner__text_upper {
        left: 121px;
    }

    .banner__text_down {
        left: 121px;
    }
}

@media  only screen  and (max-width: 760px) {
    .footer__sponsor__title > p {
        font-size: 28px;
        letter-spacing: 0px;
    }
    .footer__sponsor {
        position: relative;
        left: 50px;
        width: 50%;
        top: -40%;    
    }  
    
    .banner__text_upper{
        top: -20%;
        left: 15%;
    }

    .banner__text_down {
        top: 5%;
        left: 15%;
    }
}

@media  only screen  and (max-width: 705px) {   
    .resposive__menu {
        margin-bottom: 25%;
    }
}

@media  only screen  and (max-width: 560px) {

    footer {
        height: 100px;
    }

    .footer__sponsor__title > p {
        font-size: 28px;
        letter-spacing: 0px;
    }
    .footer__sponsor {
        position: relative;
        left: 80px;
        width: 45%;
        top: 0px;    
    }   
    
    .Recipes__slideshow {
        padding-top: 64px;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 300px;
        z-index: 1;
        text-align: center;
        margin: 0px;
        display: flex;
        padding-left: 5px;
        padding-right: 0px;
        text-align: center;
    }

    .resposive__menu {
        margin-bottom: 30%;
    }

    .banner__text_upper{
        font-size: 38px;
    }

    .banner__text_down {
        font-size: 38px;
    }
}

@media  only screen  and (max-width: 460px) {
    .banner__text_upper{
        top: -50px;
    }

    .banner__text_down {
        top: -15px;
    }

    .section__divider {
        margin-left: 35px;
    }

    .resposive__menu {
        margin-bottom: 35%;
    }

    .footer__sponsor__title > p {
        font-size: 20px;
    }
}